body {
    background-image: url("Без названия.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}


.info {
    display: flex;
    justify-content: space-between;
}


.vce {
    display: flex;
    justify-content: space-between;

}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

h3 {
    font-family: sans-serif;
    font-size: 20px;

}

h4 {
    font-family: sans-serif;
    font-size: 15px;
}

p {
    font-family: sans-serif;
    font-size: 20px;
}

.contennt {
    margin-top: 225px;
}

.obsh {
    margin-left: 35px;
}

.kortinka {
    margin-right: 45px;
}

.style {
    margin-right: 20px;
}

.time {
    margin-left: 20px;
}

@media (max-width:480px) {

    .contennt {
        margin-top: 360px;
    }

    .style {
        margin-right: -250px;
    }

    h1 {
        font-size: 20px;
    }

    h4 {
        font-size: 13px;
    }

    .kortinka {
        font-size: 30px;
    }

    body {
        background-image: url("Без названия (3).jfif");
    }

}

@media (min-width:481px) and (max-width:768px) {
    body {
        background-image: url("Без названия (2).jfif");
    }
}

@media (min-width:769px) and (max-width:1279px) {
    body {
        background-image: url("Без названия (1).jfif");
    }
}